<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>

<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	crossorigin="anonymous">

</head>
<body>

	<div align="left">

	<h1>Employees List</h1>
	<a  th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-2">Add Employee</a>
	
		<table border="1" class="table table-stripped table-responsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Employment ID</th>
					<th>Start Date</th>
					<th>Designation</th>
					<th>Department</th>
					<th>End Date</th>
					<th>Status</th>
					<th>DOB</th>
					<th>Reporting Manager</th>
					<th>Gender</th>
					<th>Blood Group</th>
					<th>Address</th>
					<th>Dependent First Name</th>
					<th>Dependent Last Name</th>
					<th>Dependent Gender</th>
					<th>Dependent DOB</th>
					<th>Dependent Relationship</th>
					<th>Education Type</th>
					<th>Education Start Date</th>
					<th>Education End Date</th>
					<th>Institute Name</th>
					<th>Institute Address</th>
					<th>Percentage</th>
					<th>Actions</th>
					
				</tr>
			</thead>
		<tbody>
			<tr th:each="employee : ${listEmployees}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.firstname}"></td>
				<td th:text="${employee.lastname}"></td>
				<td th:text="${employee.employmentid}"></td>
				<td th:text="${employee.startdate}"></td>
				<td th:text="${employee.designation}"></td>
				<td th:text="${employee.department}"></td>
				<td th:text="${employee.enddate}"></td>
				<td th:text="${employee.status}"></td>
				<td th:text="${employee.dob}"></td>
				<td th:text="${employee.reportingmanager}"></td>
				<td th:text="${employee.gender}"></td>
				<td th:text="${employee.bloodgroup}"></td>
				<td th:text="${employee.address}"></td>
				<td th:text="${employee.dependentfirstname}"></td>
				<td th:text="${employee.dependentlastname}"></td>
				<td th:text="${employee.dependentgender}"></td>
				<td th:text="${employee.dependentdob}"></td>
				<td th:text="${employee.dependentrelationship}"></td>
				<td th:text="${employee.educationtype}"></td>
				<td th:text="${employee.educationstartdate}"></td>
				<td th:text="${employee.educationenddate}"></td>
				<td th:text="${employee.institutename}"></td>
				<td th:text="${employee.instituteaddress}"></td>
				<td th:text="${employee.percentage}"></td>
				<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
					 <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>
			</tr>	
		</tbody>
	</table>
	</div>
</body>
</html>